<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:250px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
    <h1>Welcome to the Sparta Test App - CICD</h1>
    <h2>Filipe -The app is running correctly. Running in our Pipeline - This test with Shahrukh</h2>
    <h2>Behold! A Spartan exercising!</h2>
    <img src="https://64.media.tumblr.com/340be1cf89b8f7ec9f2232705bc2225b/d422f71e1b23e22e-32/s540x810/154a288e836d842b300307d1fb26448725d2783d.png">
    </div>
</body>
</html>
